<!DOCTYPE html>
<html lang="en" ng-app="kblapp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render(
        "~/public/libs/bootstrap/3.3.4/css/bootstrap.min.css",
        "~/public/libs/font-awesome/4.2.0/css/font-awesome.min.css",
        "~/public/libs/angularjs/xeditable/0.1.8/css/xeditable.css",
        "~/public/libs/angular-datepicker/styles/datePicker.css",
        "~/Content/Site.css"
    )
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @RenderSection("featured", required: false)
    @RenderBody()
    <loading-panel></loading-panel>
    @Scripts.Render(

        "~/public/libs/jquery/1.11.1/js/jquery.min.js",
        "~/public/libs/angularjs/1.2.28/js/angular.min.js",
        "~/public/libs/angularjs/ui-router/0.2.15/angular-ui-router.min.js",
        "~/public/libs/angularjs/ui/0.12.0/js/ui-bootstrap-tpls.min.js",

        "~/public/libs/angular-datepicker/scripts/datePicker.js",
        "~/public/libs/angular-datepicker/scripts/datePickerUtils.js",
        "~/public/libs/angular-datepicker/scripts/dateRange.js",
        "~/public/libs/angular-datepicker/scripts/input.js",

        "~/Scripts/app.js",
        "~/Scripts/services/ApiService.js",
        "~/Scripts/services/CommService.js",
        "~/Scripts/services/CustomerService.js",
        "~/Scripts/services/CustomerTaskService.js",
        "~/Scripts/services/UserService.js",


        "~/Templates/users/register/RegisterController.js",
        "~/Templates/users/signin/SignInController.js",
        "~/Scripts/controller/customer/CreateController.js",
        "~/Scripts/controller/customer/EditController.js",
        "~/Scripts/controller/customer/ListController.js",
        "~/Scripts/controller/customer.task/TaskController.js",
        "~/Scripts/controller/customer.task/CreateController.js",
        "~/Scripts/controller/customer.task/EditController.js",
        "~/Scripts/controller/customer.task/ListController.js",
        "~/Scripts/directive/doFinished.js",
        "~/Scripts/directive/loadingPanel.js",
        "~/Scripts/routing.js"
    )
    @RenderSection("scripts", required: false)
</body>
</html>